/* project main color */
* {
  background-color: #6c55ad;
  color: white;
}

/* navbar all css start  */
.navbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: #6c55ad;
  align-items: center;
  padding: 10px 100px;
}

/* logo image css */
.logo img {
  height: 40px;
  width: 200px;
}

/* navbar all link layout css */
.items {
  display: flex;
  column-gap: 10px;
}

/* navbar link item css */
.items li {
  list-style-type: none;
  border: 1px;
  border-radius: 8px;
  padding: 5px 8px;
  cursor: pointer;
}

/* navbar dropdown select css  */
.items select {
  border: none;
}

/* navbar buy btn css */
.items button {
  border: 1px solid white;
  border-radius: 4px;
  padding: 2px 8px;
  margin-left: 30px;
}

/* navbar css end  */

/* header css start  */
.headers {
  position: relative;
}
/* header body layout  */
.headerLayout {
  display: flex;
  column-gap: 5px;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 30px;
}
/* header content css  */
.centerSite {
  text-align: center;
  text-transform: uppercase;
}

/* header down image css  */
.banner {
  display: flex;
  justify-content: center;
}

/* slider button css  */
.common {
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.354);
  border-radius: 4px;
  font-size: 20px;
  box-shadow: none;
}

/* slider prev button css  */
.prev {
  position: absolute;
  top: 50%;
  left: 0;
}

/* slider next button css  */
.next {
  position: absolute;
  top: 50%;
  right: 0;
}
/* header css end */